<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock title %}Skuldee [Development Version]</title>
	<link rel="stylesheet" href="/media/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/media/css/bootstrap-responsive.css">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container"><a href="#" class="brand">Skuldee</a></div>
		</div>
	</div>
	<div class="container">
		{% block colums %}
		{% endblock colums %}
		<footer>
			<p>&copy; Diti Soluciones 2012</p>
		</footer>	
	</div>
</body>
</html>